CONFIG_HOUSEKEEPING_PACKET_SIZE=32
CONFIG_HOUSEKEEPING_DATA_SIZE=28

CONFIG_BITFLIP_PACKET_SIZE=32
CONFIG_BITFLIP_DATA_SIZE=28

CONFIG_RADIATION_PACKET_SIZE=32
CONFIG_RADIATION_DATA_SIZE=28

CONFIG_ACKNOWLEDGEMENT_PACKET_SIZE=7
CONFIG_ACKNOWLEDGEMENT_DATA_SIZE=3