# Misc configs
CONFIG_RADIATION_PACKET_NUMBER=150
CONFIG_RADIATION_PACKET_WAIT_TIME=100

# Packet priorities and IDs
CONFIG_HOUSEKEEPING_PACKET_PRIO=2
CONFIG_HOUSEKEEPING_PACKET_ID=0
CONFIG_BITFLIP_PACKET_PRIO=1
CONFIG_BITFLIP_PACKET_ID=1
CONFIG_RADIATION_PACKET_PRIO=3
CONFIG_RADIATION_PACKET_ID=2
CONFIG_ACKNOWLEDGEMENT_PACKET_PRIO=0
CONFIG_ACKNOWLEDGEMENT_PACKET_ID=3
CONFIG_CUT_OFF_TC_ID=3

# Data sizes
CONFIG_ID_SIZE=2
CONFIG_SEQ_COUNTER_SIZE=16
CONFIG_RTC_SIZE=17
CONFIG_GNSS_SIZE=55
CONFIG_TEMP_SIZE=96
CONFIG_ALT_SIZE=24
CONFIG_BITFLIP_SIZE=172
CONFIG_RADIATION_SIZE=9984
CONFIG_TC_SIZE=3
CONFIG_CRC_SIZE=16

CONFIG_HOUSEKEEPING_PACKET_SIZE=32
CONFIG_HOUSEKEEPING_DATA_SIZE=216
CONFIG_BITFLIP_PACKET_SIZE=28
CONFIG_BITFLIP_DATA_SIZE=205
CONFIG_RADIATION_PACKET_SIZE=1255
CONFIG_RADIATION_DATA_SIZE=10001
CONFIG_ACKNOWLEDGEMENT_PACKET_SIZE=7
CONFIG_ACKNOWLEDGEMENT_DATA_SIZE=20

# Buffer configuration
CONFIG_MAX_TC_BUFFER_SIZE=20
CONFIG_MAX_RADIATION_BUFFER_SIZE=350

# UART configuration
CONFIG_UART_BAUD_RATE=115200
CONFIG_UART_NUM=0
CONFIG_TX_PIN=1
CONFIG_RX_PIN=3
CONFIG_UART_BUF_SIZE=1500

# Ethernet configuration
CONFIG_HOST_IP_ADDR="192.168.0.165"
CONFIG_HOST_PORT=8080
CONFIG_ETH_MDC_GPIO=23
CONFIG_ETH_MDIO_GPIO=18
CONFIG_ETH_PHY_RST_GPIO=5
CONFIG_ETH_PHY_ADDR=1
CONFIG_CONNECTED_BIT=1
CONFIG_ETH_CONNECTION_TMO_MS=10000
CONFIG_ETH_BUFFER_SIZE=128
CONFIG_KEEPALIVE_ENABLED=y
CONFIG_KEEPALIVE_IDLE=5
CONFIG_KEEPALIVE_INTERVAL=5
CONFIG_KEEPALIVE_COUNT=3
CONFIG_USE_STATIC_IP=y

#SPI configs
CONFIG_ETH_SPI_CLOCK_MHZ = 16
CONFIG_ETH_SPI_HOST = 1
